In [1]:
import sys
import os
diretorio_atual = os.getcwd()
sys.path.append(os.path.join(
    diretorio_atual, 
    '..', 
    '..'
))

import geopandas as gpd
import pandas as pd
import os
from os.path import join

from utils import (
    save_parquet,
    check_crs,
)
from utils.downloads import(
    download_malha_geosampa,
)

D:\Documentos_Novo\ADPPSP\2024\cebrap\coleta_cebrap\notebooks

# Arborização Viária

## Importar dados

In [2]:
project_path = os.path.abspath(os.path.join(os.getcwd(), '..', '..'))
data_path = os.path.join(project_path, 'data')

In [3]:
cache_path = join(data_path, 'cache', 'arvore_concat.parquet')
if os.path.exists(cache_path):
    print('Carregando arquivo em cache')
    gdf_arvore = gpd.read_parquet(cache_path)
else:
    gdf_arvore = download_malha_geosampa('arvore', True)

Carregando arquivo em cache

In [4]:
gdf_arvore.shape

(652976, 22)

In [5]:
gdf_arvore.sample(3)

,cd_identif,nm_vulgar_,dc_nm_popu,cd_especie,dc_especie,cd_identi0,cd_tipo_po,dc_tipo_po,qt_diametr,qt_altura_,...,dc_tipo_es,nm_logrado,nr_logrado,sg_distrit,nm_distrit,nm_subpref,cd_inspeca,dt_inspeca,dt_atualiz,geometry
335687,401457,None,None,NaN,None,None,NaN,None,NaN,NaN,...,None,None,NaN,CLD,CIDADE LIDER,ITAQUERA,NaN,NaT,NaT,POINT (349321.685 7392790.549)
78203,169710,None,None,NaN,None,None,NaN,None,NaN,NaN,...,None,None,NaN,CBE,CAMPO BELO,SANTO AMARO,NaN,NaT,NaT,POINT (329282.359 7386894.191)
179148,260575,None,None,NaN,None,None,NaN,None,NaN,NaN,...,None,None,NaN,FRE,FREGUESIA DO O,FREGUESIA-BRASILANDIA,NaN,NaT,NaT,POINT (327792.281 7400281.281)

## Padronizaçã de colunas

Originalmente, muitas das colunas dos gdfs que serão interseccionados têm nomes repetidos, ou estavam vazias. Para que isso não faça com que a análise das tabelas seja confusa, apagaremos as colunas que julgadas desnecessárias, e renomearemos as necessárias.

In [6]:
drop_arvore_cols = {
    'nm_vulgar_', 
    'dc_nm_popu', 
    'cd_especie', 
    'dc_especie',
    'cd_identi0', 
    'cd_tipo_po', 
    'dc_tipo_po', 
    'qt_diametr', 
    'qt_altura_',
    'qt_diamet0', 
    'cd_tipo_es', 
    'dc_tipo_es', 
    'nm_logrado', 
    'nr_logrado',
    'cd_inspeca',
    'dt_inspeca',
    'dt_atualiz'
}

gdf_arvore.drop(columns=drop_arvore_cols, axis=1, inplace=True)

In [7]:
rename_arvore_cols = {
    'sg_distrit' : 'sg_dist_arv', 
    'nm_distrit' : 'nm_dist_arv'
}

gdf_arvore.rename(rename_arvore_cols, axis=1, inplace=True)

## Conferir CRS

In [8]:
gdf_arvore = check_crs(gdf_arvore)

## Salvar GDF

In [9]:
save_parquet(
    gdf_arvore, 
    'malha_arborizacao_viaria',
    data_subpath='assets' 
)

In [10]:
gdf_arvore.sample(3)

,cd_identif,sg_dist_arv,nm_dist_arv,nm_subpref,geometry
51248,145450,CGR,CAMPO GRANDE,SANTO AMARO,POINT (328372.822 7383285.838)
24526,12140,REP,REPUBLICA,SE,POINT (332862.005 7394475.782)
37178,132788,LAP,LAPA,LAPA,POINT (326452.859 7397233.77)