In [1]:
import sys
import os
diretorio_atual = os.getcwd()
sys.path.append(os.path.join(diretorio_atual, '..', '..'))

import geopandas as gpd
import pandas as pd
import os
from os.path import join

from utils import (
    save_parquet,
)
from utils.downloads import(
    download_malha_geosampa,
)

C:\Users\x526378\Desktop\projetos\cebrap\coleta_cebrap\notebooks

# Arborização Viária

## Importar dados

In [2]:
diretorio_atual2 = os.getcwd()
diretorio_atual2

'C:\\Users\\x526378\\Desktop\\projetos\\cebrap\\coleta_cebrap\\notebooks\\jupyter\\dependencies'

In [3]:
project_path = os.path.abspath(os.path.join(os.getcwd(), '..', '..'))
data_path = os.path.join(project_path, 'data')
data_path

'C:\\Users\\x526378\\Desktop\\projetos\\cebrap\\coleta_cebrap\\notebooks\\data'

In [4]:
cache_path = join(data_path, 'cache', 'arvore_concat.parquet')
if os.path.exists(cache_path):
    print('Carregando arquivo em cache')
    gdf_arvore = gpd.read_parquet(cache_path)
else:
    gdf_arvore = download_malha_geosampa('arvore', True)

Carregando arquivo em cache

In [5]:
gdf_arvore.shape

(652976, 22)

In [6]:
gdf_arvore.sample(3)

,cd_identif,nm_vulgar_,dc_nm_popu,cd_especie,dc_especie,cd_identi0,cd_tipo_po,dc_tipo_po,qt_diametr,qt_altura_,...,dc_tipo_es,nm_logrado,nr_logrado,sg_distrit,nm_distrit,nm_subpref,cd_inspeca,dt_inspeca,dt_atualiz,geometry
365557,42834,None,None,NaN,None,None,NaN,None,NaN,NaN,...,None,None,NaN,SAC,SACOMA,IPIRANGA,NaN,NaT,NaT,POINT (338053.659 7384647.408)
578666,620122,None,None,NaN,None,None,NaN,None,NaN,NaN,...,None,None,NaN,API,ALTO DE PINHEIROS,PINHEIROS,NaN,NaT,NaT,POINT (325946.426 7394428.437)
34509,130385,None,None,NaN,None,None,NaN,None,NaN,NaN,...,None,None,NaN,LAP,LAPA,LAPA,NaN,NaT,NaT,POINT (324584.161 7396216.685)

## Padronizaçã de colunas

Originalmente, muitas das colunas dos gdfs que serão interseccionados têm nomes repetidos, ou estavam vazias. Para que isso não faça com que a análise das tabelas seja confusa, apagaremos as colunas que julgadas desnecessárias, e renomearemos as necessárias.

In [7]:
drop_arvore_cols = {
    'nm_vulgar_', 
    'dc_nm_popu', 
    'cd_especie', 
    'dc_especie',
    'cd_identi0', 
    'cd_tipo_po', 
    'dc_tipo_po', 
    'qt_diametr', 
    'qt_altura_',
    'qt_diamet0', 
    'cd_tipo_es', 
    'dc_tipo_es', 
    'nm_logrado', 
    'nr_logrado',
    'cd_inspeca',
    'dt_inspeca',
    'dt_atualiz'
}

gdf_arvore.drop(columns=drop_arvore_cols, axis=1, inplace=True)

In [8]:
rename_arvore_cols = {
    'sg_distrit' : 'sg_dist_arv', 
    'nm_distrit' : 'nm_dist_arv'
}

gdf_arvore.rename(rename_arvore_cols, axis=1, inplace=True)

## Salvar GDF

In [9]:
save_parquet(
    gdf_arvore, 
    'malha_arborizacao_viaria',
    data_subpath='assets' 
)

In [10]:
gdf_arvore.sample(3)

,cd_identif,sg_dist_arv,nm_dist_arv,nm_subpref,geometry
479375,530771,CAD,CIDADE ADEMAR,CIDADE ADEMAR,POINT (330269.527 7381725.555)
466156,518877,JAB,JABAQUARA,JABAQUARA,POINT (332558.759 7385221.963)
413265,471276,VSO,VILA SONIA,BUTANTA,POINT (321729.715 7388641.233)