In [1]:
from directory_area_verde_load import definir_diretorio 
project_path = definir_diretorio()

import geopandas as gpd

from utils import(
    get_data_diretorio,
    check_crs,
    save_parquet_excel
)
from utils.downloads import (
    download_malha_geosampa
)

# Terras Indígenas

In [2]:
data_path = get_data_diretorio(project_path)

# Importar dados

In [3]:
gdf_terra_indigena = download_malha_geosampa(
    'GEOSAMPA_terra_indigena',
    data_path
)

In [4]:
gdf_terra_indigena.shape

(6, 7)

Só tem 6 mesmo?

In [5]:
gdf_terra_indigena

,cd_identif,nm_terra_i,nm_etnia,tx_regular,qt_area_te,dt_carga,geometry
0,21,Jaragua,Guarani,"Dec. Fed. 94.221/87 - 5.415,01 m²",17481.0,2024-11-05,"MULTIPOLYGON (((320768.06 7403992.64, 320774.0..."
1,22,Krukutu,Guarani,Dec. Fed. 94.222/87,283398.0,2024-11-05,"POLYGON ((334954.128 7360154.439, 334961.114 7..."
2,24,Rio Branco Itanhaem,Guarani,Dec. Fed. 94.224/87,6366828.0,2024-11-05,"POLYGON ((333882.358 7347493.187, 333879.014 7..."
3,19,Guarani da Barragem,Guarani Kaiowa,Dec. Fed. 94.223/87,306567.0,2024-11-05,"POLYGON ((332046.984 7359612.262, 332205.072 7..."
4,25,Jaragua,Guarani,Declarada - Portaria MJ 581/15 - 532 ha,4907206.0,2024-11-05,"MULTIPOLYGON (((319289.195 7402832.99, 319262...."
5,23,Tenonde Pora,Guarani,Portaria MJ 548/16 - 15.969 ha,73776118.0,2024-11-05,"MULTIPOLYGON (((335335.908 7359193.265, 335338..."

## Padronizaçã de colunas

In [6]:
drop_terra_i_cols={
    'tx_regular',
    'dt_carga'
}

gdf_terra_indigena.drop(
    columns=drop_terra_i_cols,
    axis=1,
    inplace=True
)

In [7]:
gdf_terra_indigena.rename(
    columns={'cd_identif' : 'cd_terra_i'},
    inplace=True
)

# Conferir CRS

In [8]:
gdf_terra_indigena = check_crs(gdf_terra_indigena)

In [9]:
gdf_terra_indigena.sample(2)

,cd_terra_i,nm_terra_i,nm_etnia,qt_area_te,geometry
0,21,Jaragua,Guarani,17481.0,"MULTIPOLYGON (((320768.06 7403992.64, 320774.0..."
4,25,Jaragua,Guarani,4907206.0,"MULTIPOLYGON (((319289.195 7402832.99, 319262...."

# Salvar GDF

In [10]:
save_parquet_excel(
    gdf_terra_indigena, 
    fname= 'terra_indigena',
    data_path = data_path,
    data_subpath = 'assets'
)