In [1]:
from configuracoes_notebooks import set_proj_dir
set_proj_dir()

O diretorio do seu projeto é coleta_cebrap
Caminho absoluto do diretorio encontrado C:\Users\x526378\Desktop\projetos\cebrap\coleta_cebrap
Caminho no path.

In [2]:
import geopandas as gpd
from os.path import join

from notebooks.jupyter.utils import (
    save_parquet_excel,
    diretorio,
    get_data_diretorio,
)

In [3]:
data_path = get_data_diretorio()

# Dependências

Carregar o gdf anteriormente criado, durante o cálculo de quantidade de árvores no viário

In [4]:
dist_arv_path = join(
    data_path,
    'assets',
    'arborizacao_viaria', 
    'qtd_distrito_arv_viario.parquet'
)
gdf_distrito_arv = gpd.read_parquet(
    dist_arv_path
)

# Cálculo por km²

Para saber quantas árvores no viário há por km², precisamos dividir a quantidade de árvores pela área (qtd de árvores/área em km²):

In [5]:
gdf_distrito_arv['arv_km_2'] = (
    gdf_distrito_arv['qtd_arv_viario']/gdf_distrito_arv['AREA_KM2']
)

Já para ao município inteiro temos:

In [6]:
sp_km_2 = sum(gdf_distrito_arv['AREA_KM2'])
sp_arv_total = sum(gdf_distrito_arv['qtd_arv_viario'])
sp_arv_km_2 = sp_arv_total/sp_km_2

In [7]:
print(f'São {sp_arv_total} árvores no viário em São Paulo e, considerando a área de {sp_km_2} Km², há aproximadamente {round(sp_arv_km_2, 4)} árvores por Km²')

São 652976 árvores no viário em São Paulo e, considerando a área de 1521.201587 Km², há aproximadamente 429.2501 árvores por Km²

# Salvar gdf

In [8]:
gdf_distrito_arv.sample(3)

,CD_MUN,NM_MUN,CD_DIST,NM_DIST,CD_RGINT,NM_RGINT,CD_RGI,NM_RGI,CD_CONCURB,NM_CONCURB,AREA_KM2,total_pop,total_dom,geometry,qtd_arv_viario,arv_km_2
76,3550308,São Paulo,355030877,SAUDE,3501,São Paulo,350001,São Paulo,3550308,São Paulo/SP,9.237295,128469,65598,"POLYGON ((332835.435 7389140.186, 333003.906 7...",10953,1185.736708
49,3550308,São Paulo,355030850,LIMAO,3501,São Paulo,350001,São Paulo,3550308,São Paulo/SP,6.410216,82373,35758,"POLYGON ((329252.593 7398526.75, 328918.838 73...",4514,704.188384
75,3550308,São Paulo,355030876,SAPOPEMBA,3501,São Paulo,350001,São Paulo,3550308,São Paulo/SP,13.618175,266715,105579,"POLYGON ((345916.57 7386712.024, 345909.731 73...",8256,606.248652

In [9]:
save_parquet_excel(
    gdf_distrito_arv, 
    fname= 'dist_arv_km_2',
    data_path = data_path,
    data_subpath = join(
        'assets',
        'arborizacao_viaria'
    )
)