In [1]:
import sys
import os
diretorio_atual = os.getcwd()
sys.path.append(os.path.join(
    diretorio_atual, 
    '..', 
    '..'
))
import geopandas as gpd
import pandas as pd
from os.path import join

from utils import (
    save_parquet_excel,
    diretorio,
    get_data_diretorio,
)

# Importar dados

Carregar o gdf anteriormente criado, durante o cálculo de quantidade de árvores no viário

In [2]:
project_path = diretorio(diretorio_atual)
data_path = get_data_diretorio(diretorio_atual)

In [3]:
dist_arv_path = join(
    data_path,
    'assets',
    'arborizacao_viaria', 
    'qtd_distrito_arv_viario.parquet'
)
gdf_distrito_arv = gpd.read_parquet(
    dist_arv_path
)

# Cálculo per capita

Para saber quantas árvores no viário há, per capita, ou seja, por pessoa, precisamos dividir a quantidade de árvores pela de pessoas (qtd de árvores/qtd de pessoas):

In [4]:
gdf_distrito_arv['arv_per_capita'] = (
    gdf_distrito_arv['qtd_arv_viario']/gdf_distrito_arv['total_pop']
)

Já para ao município inteiro temos:

In [5]:
sp_pop = sum(gdf_distrito_arv['total_pop'])
sp_arv_total = sum(gdf_distrito_arv['qtd_arv_viario'])
sp_arv_per_capita= sp_arv_total/sp_pop

In [6]:
print(f'Em São Paulo há {sp_pop} pessoas e {sp_arv_total} árvores no viário, totalizando aproximadamente {round((sp_arv_per_capita), 4)} árvores per capita')

Em São Paulo há 11451999 pessoas e 652976 árvores no viário, totalizando aproximadamente 0.057 árvores per capita

# Salvar gdf

In [7]:
gdf_distrito_arv.sample(3)

,CD_REGIAO,NM_REGIAO,CD_UF,NM_UF,CD_MUN,NM_MUN,CD_DIST,NM_DIST,CD_RGINT,NM_RGINT,CD_RGI,NM_RGI,CD_CONCURB,NM_CONCURB,AREA_KM2,total_pop,total_dom,geometry,qtd_arv_viario,arv_per_capita
80,3,Sudeste,35,São Paulo,3550308,São Paulo,355030881,TREMEMBE,3501,São Paulo,350001,São Paulo,3550308,São Paulo/SP,57.709814,196563,78219,"POLYGON ((338977.39 7414197.122, 338983.98 741...",6990,0.035561
50,3,Sudeste,35,São Paulo,3550308,São Paulo,355030851,MANDAQUI,3501,São Paulo,350001,São Paulo,3550308,São Paulo/SP,13.202709,103665,45143,"POLYGON ((332902.165 7405221.112, 332904.48 74...",5785,0.055805
56,3,Sudeste,35,São Paulo,3550308,São Paulo,355030857,PARQUE DO CARMO,3501,São Paulo,350001,São Paulo,3550308,São Paulo/SP,15.650945,74677,30378,"POLYGON ((351246.547 7389761.772, 351233.56 73...",4398,0.058894

In [8]:
save_parquet_excel(
    gdf_distrito_arv, 
    fname= 'distrito_arv_viario_per_capita',
    data_path = data_path,
    data_subpath = join(
        'assets',
        'arborizacao_viaria'
    )
)