from configuracoes_notebooks import set_proj_dir
set_proj_dir()

In [1]:
from teste import diretorio_teste
project_path = diretorio_teste()

D:\Documentos_Novo\ADPPSP\2024\cebrap\teste\coleta_cebrap

In [2]:
import geopandas as gpd
import pandas as pd
import os

from notebooks.jupyter import utils
from utils import (
    get_data_diretorio,
    save_parquet_excel,
)

# Área Verde Pública por habitante (m²/hab)

In [3]:
#data_path = get_data_diretorio()
data_path = os.path.join(
    diretorio_teste(),
    'data'
)

D:\Documentos_Novo\ADPPSP\2024\cebrap\teste\coleta_cebrap

# Dependências

Este notebook é dependente dos assets resultante do notebook 'area_verde_pub_por_distrito'

In [4]:
assets_path = os.path.join(
    data_path,
    'assets'
)

In [5]:
gdf_dist_avp = gpd.read_parquet(
    os.path.join(
        assets_path,
        'areas_verdes_publicas',
        'distritos_areas_verdes_publicas.parquet'
    )
)

# Calcular área por habitante(m²/hab)

In [6]:
gdf_dist_avp.sample(2)

,CD_MUN,NM_MUN,CD_DIST,NM_DIST,CD_RGINT,NM_RGINT,CD_RGI,NM_RGI,CD_CONCURB,NM_CONCURB,AREA_KM2,total_pop,total_dom,geometry,area_avp_dist
4,3550308,São Paulo,355030805,ARTUR ALVIM,3501,São Paulo,350001,São Paulo,3550308,São Paulo/SP,6.515567,95575,40976,"POLYGON ((348356.559 7394319.135, 348356.078 7...",169413.229877
79,3550308,São Paulo,355030880,TATUAPE,3501,São Paulo,350001,São Paulo,3550308,São Paulo/SP,8.488643,98601,50666,"POLYGON ((340908.108 7394174.561, 340906.88 73...",247225.027664

In [7]:
gdf_dist_avp['avp_per_capita']=gdf_dist_avp['area_avp_dist']/gdf_dist_avp['total_pop']

In [8]:
gdf_dist_avp.sample(3)

,CD_MUN,NM_MUN,CD_DIST,NM_DIST,CD_RGINT,NM_RGINT,CD_RGI,NM_RGI,CD_CONCURB,NM_CONCURB,AREA_KM2,total_pop,total_dom,geometry,area_avp_dist,avp_per_capita
31,3550308,São Paulo,355030832,MOEMA,3501,São Paulo,350001,São Paulo,3550308,São Paulo/SP,9.105585,81899,46035,"POLYGON ((330022.337 7387312.115, 330021.027 7...",1.587032e+06,19.377913
66,3550308,São Paulo,355030867,RIO PEQUENO,3501,São Paulo,350001,São Paulo,3550308,São Paulo/SP,9.755869,131631,54686,"POLYGON ((322346.814 7391673.431, 322303.81 73...",6.681185e+05,5.075692
8,3550308,São Paulo,355030809,BOM RETIRO,3501,São Paulo,350001,São Paulo,3550308,São Paulo/SP,4.264301,33520,15050,"POLYGON ((332903.374 7396298.673, 332894.772 7...",2.758726e+05,8.230091

In [9]:
(
    gdf_dist_avp
    .loc[
        gdf_dist_avp['avp_per_capita']== gdf_dist_avp['avp_per_capita'].min()
    ]
)

,CD_MUN,NM_MUN,CD_DIST,NM_DIST,CD_RGINT,NM_RGINT,CD_RGI,NM_RGI,CD_CONCURB,NM_CONCURB,AREA_KM2,total_pop,total_dom,geometry,area_avp_dist,avp_per_capita
21,3550308,São Paulo,355030822,CIDADE ADEMAR,3501,São Paulo,350001,São Paulo,3550308,São Paulo/SP,12.23319,249218,103713,"POLYGON ((333467.739 7379561.767, 333458.192 7...",108063.548054,0.433611

In [10]:
(
    gdf_dist_avp
    .loc[
        gdf_dist_avp['avp_per_capita']== gdf_dist_avp['avp_per_capita'].max()
    ]
)

,CD_MUN,NM_MUN,CD_DIST,NM_DIST,CD_RGINT,NM_RGINT,CD_RGI,NM_RGI,CD_CONCURB,NM_CONCURB,AREA_KM2,total_pop,total_dom,geometry,area_avp_dist,avp_per_capita
51,3550308,São Paulo,355030852,MARSILAC,3501,São Paulo,350001,São Paulo,3550308,São Paulo/SP,207.50126,11451,6139,"POLYGON ((333016.008 7354600.919, 333056.044 7...",1.979033e+08,17282.620174

# Salvar GDF

In [11]:
save_parquet_excel(
    gdf_dist_avp,
    fname='dist_areas_verdes_publicas_per_capita',
    data_path=assets_path,
    data_subpath='areas_verdes_publicas'
)