In [1]:
from configuracoes_notebooks import set_proj_dir
set_proj_dir()

O diretorio do seu projeto é coleta_cebrap
Caminho absoluto do diretorio encontrado C:\Users\x526378\Desktop\projetos\cebrap\coleta_cebrap
Caminho no path.

from teste import diretorio_teste
project_path = diretorio_teste()

In [2]:
import geopandas as gpd
import pandas as pd
import os

from notebooks.jupyter import utils
from utils import (
    get_data_diretorio,
    save_parquet_excel,
)

# Área Verde Pública por habitante (m²/hab)

In [3]:
data_path = get_data_diretorio()
#data_path = os.path.join(diretorio_teste(),'data')

# Dependências

Este notebook é dependente dos assets resultante do notebook 'area_verde_pub_por_distrito'

In [4]:
assets_path = os.path.join(
    data_path,
    'assets'
)

In [5]:
gdf_dist_avp = gpd.read_parquet(
    os.path.join(
        assets_path,
        'areas_verdes_publicas',
        'distritos_areas_verdes_publicas.parquet'
    )
)

# Calcular área por habitante(m²/hab)

In [6]:
gdf_dist_avp.sample(2)

,CD_MUN,NM_MUN,CD_DIST,NM_DIST,CD_RGINT,NM_RGINT,CD_RGI,NM_RGI,CD_CONCURB,NM_CONCURB,AREA_KM2,total_pop,total_dom,geometry,area_avp_dist
32,3550308,São Paulo,355030833,IGUATEMI,3501,São Paulo,350001,São Paulo,3550308,São Paulo/SP,19.575990,149700,59935,"POLYGON ((353428.165 7387078.597, 353427.529 7...",4.461189e+06
35,3550308,São Paulo,355030836,ITAIM PAULISTA,3501,São Paulo,350001,São Paulo,3550308,São Paulo/SP,12.217145,205295,78141,"POLYGON ((359382.741 7402158.394, 359386.115 7...",7.066866e+05

In [7]:
gdf_dist_avp['avp_per_capita']=gdf_dist_avp['area_avp_dist']/gdf_dist_avp['total_pop']

In [8]:
gdf_dist_avp.sample(3)

,CD_MUN,NM_MUN,CD_DIST,NM_DIST,CD_RGINT,NM_RGINT,CD_RGI,NM_RGI,CD_CONCURB,NM_CONCURB,AREA_KM2,total_pop,total_dom,geometry,area_avp_dist,avp_per_capita
85,3550308,São Paulo,355030886,VILA GUILHERME,3501,São Paulo,350001,São Paulo,3550308,São Paulo/SP,7.231334,52587,24265,"POLYGON ((336324.23 7397666.362, 336287.973 73...",356871.558329,6.786308
13,3550308,São Paulo,355030814,CAMBUCI,3501,São Paulo,350001,São Paulo,3550308,São Paulo/SP,3.932713,45163,21929,"POLYGON ((335439.705 7392510.798, 335388.234 7...",89518.874507,1.982129
95,3550308,São Paulo,355030896,LAJEADO,3501,São Paulo,350001,São Paulo,3550308,São Paulo/SP,8.902602,164391,63066,"POLYGON ((356021.63 7395589.489, 356021.497 73...",608838.889071,3.703602

In [9]:
(
    gdf_dist_avp
    .loc[
        gdf_dist_avp['avp_per_capita']== gdf_dist_avp['avp_per_capita'].min()
    ]
)

,CD_MUN,NM_MUN,CD_DIST,NM_DIST,CD_RGINT,NM_RGINT,CD_RGI,NM_RGI,CD_CONCURB,NM_CONCURB,AREA_KM2,total_pop,total_dom,geometry,area_avp_dist,avp_per_capita
21,3550308,São Paulo,355030822,CIDADE ADEMAR,3501,São Paulo,350001,São Paulo,3550308,São Paulo/SP,12.23319,249218,103713,"POLYGON ((333467.739 7379561.767, 333458.192 7...",143355.764642,0.575222

In [10]:
(
    gdf_dist_avp
    .loc[
        gdf_dist_avp['avp_per_capita']== gdf_dist_avp['avp_per_capita'].max()
    ]
)

,CD_MUN,NM_MUN,CD_DIST,NM_DIST,CD_RGINT,NM_RGINT,CD_RGI,NM_RGI,CD_CONCURB,NM_CONCURB,AREA_KM2,total_pop,total_dom,geometry,area_avp_dist,avp_per_capita
51,3550308,São Paulo,355030852,MARSILAC,3501,São Paulo,350001,São Paulo,3550308,São Paulo/SP,207.50126,11451,6139,"POLYGON ((333016.008 7354600.919, 333056.044 7...",1.979036e+08,17282.645293

# Salvar GDF

In [11]:
save_parquet_excel(
    gdf_dist_avp,
    fname='dist_areas_verdes_publicas_per_capita',
    data_path=assets_path,
    data_subpath='areas_verdes_publicas'
)